@{
    Layout="Shared/_Layout.cshtml";
}


<h1>Enter a list of words seperated by commas</h1>

<form action="/anagram" method="post">
  <label for="anagram-word">Word you want to check for anagram</label>
  <input type="text" name="anagram-word">
  <label for="list-words">List out the words seperated by commas that you want to check if they are an anagram of your main word</label>
  <input type="text" name="list-words">
  <button type="submit" name="button">Submit</button>
</form>
